/*
@import url("base.css");
@import url("base2.css");
*/
@charset "EUC-JP";/*　文字コードセット　 safari で　importより前にもってくるとcssが反映されない*/
/*
 + タグ共通設定
------------------------------*/
body { 
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 12px;
}

form {
    margin:0px;
    padding:0px;
}

h1 {
    font-size: 12px;
    margin:0px;
    padding:0px;
}
h2 {
    font-size: 12px;
    margin:0px;
    padding:0px;
}
h3 {
    font-size: 12px;
    margin:0px;
    padding:0px;
}

p {
    line-height: 1.5em;
}

img {
    border: 0px;
}




.link_top12 A:link    { font-size: 12px; text-decoration: underline; color: #FFFFFF }
.link_top12 A:visited { font-size: 12px; text-decoration: underline; color: #FFFFFF }
.link_top12 A:hover   { font-size: 12px; text-decoration: underline; color: #FF0000 }
.link_top12 {
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  padding-left: 6px;
}











/*
 +  ログイン
------------------------------*/
#header-box { 
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    width: 100%; 

}


#header-box td.condition{ 
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    line-height: 1.5em;
    background-color: #FFFFEE;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}


#header-box td.link{ 
    margin:0px 0px 0px 0px;
    padding:0px 0px 5px 0px;
    line-height: 1.5em;
    border-bottom: 1px solid #666666;
}


#header-box .plan_title{ 
    font-size: 12px;
    background-color: #FFEEEE;
    padding:10px 10px 10px 10px;
}

#header-box .plan_name{ 
    font-size: 12px;
    padding:10px 10px 10px 10px;
}

#header-box .condition_title{ 
    font-size: 12px;
    background-color: #FFEEEE;
    padding:10px 10px 10px 10px;
}

#header-box .condition_now{ 
    font-size: 12px;
    padding:10px 10px 10px 10px;
}

#header-box A { font-size: 12px; text-decoration: underline; color: #0000FF;   }
#header-box A:hover   { font-size: 12px; text-decoration: underline; color: #FF0000 }

/*
 +  ログイン
------------------------------*/
#login-box { 
    margin:5px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-color: #FFEEEE;
    list-style-type: none;
    border: 1px solid #666666;
    width: 380px; 

}

#login-box table{ 
    margin:5px 10px 5px 10px;
    padding:0px 0px 0px 0px;
}


#login-box td{ 
    padding:0px 5px 0px 5px;
    font-size: 12px;
}


#login-box td.title{ 
    text-align: center; 
    font-size: 12px;
}


#login-box td.button{ 
    padding:10px 5px 10px 5px;
    text-align: center; 
    font-size: 12px;
}




#login-box td.title2{ 
    padding:10px 5px 10px 5px;
    text-align: center; 
    font-size: 12px;
    font-weight: bold; 

}


#login-box td.explain2{ 
    text-align: center; 
    font-size: 12px;
    background-color: #FFCC33;
}


#login-box A { font-size: 12px; text-decoration: underline; color: #FF9900; font-weight: bold;  }
#login-box A:hover   { font-size: 12px; text-decoration: underline; color: #FF0000 }




.login_input {
    font-size: 14px;
    color: #0000FF;
    padding-left: 3px;
}

.login_input_pwd {
  font-size: 11px;
  color: #0000FF;
  padding-left: 3px;
}





/*
 +  メール説明
------------------------------*/
#pictmail-top-box { 
    margin:5px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-color: #FFEEEE;
    list-style-type: none;
    border: 1px solid #666666;
    width: 750px; 

}

#pictmail-top-box table{ 
    margin:10px 10px 5px 10px;
    padding:0px 0px 0px 0px;
    width: 700px; 
}


#pictmail-top-box td{ 
    padding:0px 5px 0px 5px;
    font-size: 12px;
}


#pictmail-top-box td.title{ 
    text-align: center; 
    font-size: 12px;
}


#pictmail-top-box td.title_l{ 
    padding:10px 10px 10px 5px;
    background-color: #486a00;
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
}

#pictmail-top-box td.explain_l{ 
    padding:10px 10px 10px 10px;
    font-size: 14px;
}


#pictmail-top-box td.title_m{ 
    padding:5px 5px 5px 5px;
    background-color: #DDEEDD;
    font-size: 15px;
    font-weight: bold;
}

#pictmail-top-box td.explain_m{ 
    padding:10px 5px 10px 5px;
    font-size: 12px;
    line-height: 1.3em;
}


#pictmail-top-box td.button{ 
    padding:10px 5px 10px 5px;
    text-align: center; 
    font-size: 12px;
}




#pictmail-top-box td.title2{ 
    padding:10px 5px 10px 5px;
    text-align: center; 
    font-size: 12px;
    font-weight: bold; 

}


#pictmail-top-box td.explain2{ 
    text-align: center; 
    font-size: 12px;
    background-color: #FFCC33;
}


#pictmail-top-box A { text-decoration: underline; color: #9900FF; font-weight: bold;  }
#pictmail-top-box A:hover   { text-decoration: underline; color: #FF9900 }



/*
 +  メール配信
------------------------------*/
#pictmail-input-box { 
    margin:5px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-color: #FFEEEE;
    list-style-type: none;
    border: 1px solid #666666;
    width: 750px; 

}

#pictmail-input-box table{ 
    margin:10px 10px 5px 10px;
    padding:0px 0px 0px 0px;
    width: 700px; 
}


#pictmail-input-box td{ 
    padding:0px 5px 0px 5px;
    font-size: 12px;
}


#pictmail-input-box td.title{ 
    text-align: center; 
    font-size: 12px;
}


#pictmail-input-box td.title_l{ 
    padding:10px 10px 10px 5px;
    background-color: #486a00;
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
}

#pictmail-input-box td.explain_l{ 
    padding:10px 10px 10px 10px;
    font-size: 14px;
}


#pictmail-input-box td.title_m{ 
    padding:5px 5px 5px 5px;
    background-color: #DDEEDD;
    font-size: 15px;
    font-weight: bold;
    text-align: center; 
    border: 1px solid #666666;
}

#pictmail-input-box td.explain_m{ 
    padding:10px 5px 10px 5px;
    font-size: 12px;
    line-height: 1.3em;
}


#pictmail-input-box td.input_title{ 
    width: 230px; 
    padding:5px 5px 5px 5px;
    background-color: #DDEEDD;
    text-align: center; 
    border: 1px solid #666666;
}

#pictmail-input-box td.input_field{ 
    width: 370px; 
    padding:5px 5px 5px 5px;
    line-height: 1.5em;
    border: 1px solid #666666;
}

#pictmail-input-box td.input_explain{ 
    padding:5px 5px 5px 5px;
    line-height: 1.5em;
    background-color: #FFFFEE;
    border: 1px solid #666666;
}

#pictmail-input-box td.input_button{ 
    padding:15px 5px 15px 5px;
    line-height: 1.5em;
    background-color: #FFFFEE;
    text-align: center; 
    border: 1px solid #666666;
}

#pictmail-input-box td.title_error{ 
    padding:15px 5px 15px 5px;
    line-height: 1.5em;
    background-color: #FF9900;
    text-align: center; 
    font-weight: bold;
    color: #FFFFFF;
}

#pictmail-input-box td.explain_error{ 
    padding:5px 5px 5px 5px;
    line-height: 2.7em;
    background-color: #FFFFEE;
}




#pictmail-input-box A { text-decoration: underline; color: #9900FF; font-weight: bold;  }
#pictmail-input-box A:hover   { text-decoration: underline; color: #FF9900 }





/*
 +  メール配信
------------------------------*/
#pictmail-list-box { 
    margin:5px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-color: #FFEEEE;
    list-style-type: none;
    border: 1px solid #666666;
    width: 750px; 

}

#pictmail-list-box table{ 
    margin:10px 10px 5px 10px;
    padding:0px 0px 0px 0px;
    width: 750px; 
}


#pictmail-list-box td{ 
    padding:0px 5px 0px 5px;
    font-size: 12px;
}


#pictmail-list-box td.title{ 
    text-align: center; 
    font-size: 12px;
}


#pictmail-list-box td.title_l{ 
    padding:10px 10px 10px 5px;
    background-color: #486a00;
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
}

#pictmail-list-box td.explain_l{ 
    padding:10px 10px 10px 10px;
    font-size: 14px;
}


#pictmail-list-box td.title_m{ 
    padding:5px 5px 5px 5px;
    background-color: #DDEEDD;
    font-size: 15px;
    font-weight: bold;
    text-align: center; 
    border: 1px solid #666666;
}

#pictmail-list-box td.explain_m{ 
    padding:10px 5px 10px 5px;
    font-size: 12px;
    line-height: 1.3em;
}


#pictmail-list-box td.title{ 
    padding:5px 5px 5px 5px;
    background-color: #DDEEDD;
    text-align: center; 
    border: 1px solid #666666;
}

#pictmail-list-box td.field_c{ 
    padding:5px 5px 5px 5px;
    line-height: 1.5em;
    text-align: center; 
    border: 1px solid #666666;
}


#pictmail-list-box td.field_c{ 
    padding:5px 5px 5px 5px;
    line-height: 1.5em;
    text-align: center; 
    border: 1px solid #666666;
}


#pictmail-list-box td.field_r{ 
    padding:5px 5px 5px 5px;
    line-height: 1.5em;
    text-align: right; 
    border: 1px solid #666666;
}


#pictmail-list-box td.field_l{ 
    padding:5px 5px 5px 5px;
    line-height: 1.5em;
    text-align: left; 
    border: 1px solid #666666;
}

#pictmail-list-box td.explain{ 
    padding:5px 5px 5px 5px;
    line-height: 1.5em;
    background-color: #FFFFEE;
    border: 1px solid #666666;
}

#pictmail-list-box td.button{ 
    padding:15px 5px 15px 5px;
    line-height: 1.5em;
    background-color: #FFFFEE;
    text-align: center; 
    border: 1px solid #666666;
}

#pictmail-list-box td.title_error{ 
    padding:15px 5px 15px 5px;
    line-height: 1.5em;
    background-color: #FF9900;
    text-align: center; 
    font-weight: bold;
    color: #FFFFFF;
}

#pictmail-list-box td.explain_error{ 
    padding:5px 5px 5px 5px;
    line-height: 2.7em;
    background-color: #FFFFEE;
}




#pictmail-list-box A { text-decoration: underline; color: #9900FF; font-weight: bold;  }
#pictmail-list-box A:hover   { text-decoration: underline; color: #FF9900 }



