

  .cart_flow{

    height:45px;

    background-color:#00EE00;

    margin:2px 2px 0px 2px;

    padding:5px 10px 5px 10px;


    text-align:center;

    border: 3px solid #486a00;


    font-size:14px;
    color: #FFFFFF;
    font-weight: bold;

    white-space:nowrap;

  }




  .cart_flow_now{

    height:45px;

    background-color:#EEEE00;

    margin:2px 2px 0px 2px;

    padding:5px 10px 5px 10px;


    text-align:center;

    border: 3px solid #486a00;


    font-size:16px;
    color: #486a00;
    font-weight: bold;

    white-space:nowrap;

  }




  .cart_flow_joint{

    height:45px;

    padding:5px;

    text-align:center;

    font-size:12px;
    color: #486a00;
    font-weight: bold;

    white-space:nowrap;

  }










/*
 *
 * GROUP
 *
 */
  .search_title1{

    background-color:#AABBAA;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    text-align:left;

    font-size:12px;
    color: #CCFF22;
    font-weight: bold;

    white-space:nowrap;
  }


  .search_title2{

    background-color:#AABBAA;

    margin:2px 2px 0px 2px;

    padding:5px 10px 5px 10px;


    text-align:center;

    font-size:12px;
    color: #FFFFFF;

    white-space:nowrap;
  }




  .search_field1{

    border:    1px solid #AABBAA;

    background-color:#e8f7f9;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    text-align:left;
    color: #405d03;

    font-size:12px;

    white-space:nowrap;

  }


  .search_field2{

    border:    1px solid #AABBAA;

    background-color:#e8f7f9;


    margin:2px 2px 0px 2px;
    padding:3px 10px 3px 10px;


    text-align:left;
    color: #405d03;

    font-size:12px;
    font-weight: bold;

    white-space:nowrap;

  }


  .search_field_group_1{

    border:    1px solid #AABBAA;

    background-color:#e8f7f9;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    text-align:left;
    color: #405d03;

    font-size:12px;

    white-space:nowrap;

  }





  .search_button{

    border:    1px solid #7db406;

    background-color:#EEEEFF;


    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    text-align:center;
    color: #405d03;

    font-size:12px;

    white-space:nowrap;

  }


/*
 *
 * GROUP
 *
 */



  .group_name1{


    background-color:#FFFFFF;

    margin:0px 0px 0px 2px;
    padding:0px 0px 0px 15px;


    font-size:12px;
    color: #333333;
    line-height: 2.5em; 

    background-image: url("/member/images/icon/folder01.gif");
    background-repeat: no-repeat;
    background-position: 0px center;



    white-space:nowrap;

  }



  .group_name2{


    background-color:#CCCCFF;

    margin:0px 0px 0px 2px;
    padding:0px 0px 0px 15px;


    font-size:12px;
    font-weight: bold;
    color: #333333;
    line-height: 2.5em; 

    background-image: url("/member/images/icon/folder01.gif");
    background-repeat: no-repeat;
    background-position: 0px center;



    white-space:nowrap;

  }


  .group_name3{


    background-color:#BBFFBB;

    margin:0px 0px 0px 2px;
    padding:0px 0px 0px 15px;


    font-size:12px;
    font-weight: bold;
    color: #333333;
    line-height: 2.5em; 

    background-image: url("/member/images/icon/folder01.gif");
    background-repeat: no-repeat;
    background-position: 0px center;



    white-space:nowrap;

  }






/*
 *
 * INPUT
 *
 */

  .input_title1{


    background-color:#AABBAA;

    margin:2px 2px 0px 2px;

    padding:5px 10px 5px 15px;


    text-align:center;


    font-size:13px;
    color: #FFFFFF;

    white-space:nowrap;

  }


  .input_field1{

    border:    1px solid #AABBAA;

    background-color:#fcfbd7;


    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    text-align:left;
    color: #405d03;

    font-size:12px;

    white-space:nowrap;

  }


  .input_field2{

    border:    1px solid #AABBAA;

    background-color:#fcfbd7;


    margin:2px 2px 0px 2px;
    padding:3px 10px 3px 10px;


    text-align:left;
    color: #405d03;

    font-size:12px;
    font-weight: bold;

    white-space:nowrap;

  }

  .input_field3{

    border:    1px solid #AABBAA;

    background-color:#fcfbd7;


    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    text-align:center;
    color: #405d03;

    font-size:12px;

    white-space:nowrap;

  }



  .input_field_error{

    border:    1px solid #AABBAA;

    background-color:#fca4e4;


    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    text-align:left;
    color: #405d03;

    font-size:12px;

    white-space:nowrap;

  }


  .input_field_group1{
  

    border:    1px solid #AABBAA;

    background-color:#fcfbd7;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    text-align:left;
    color: #405d03;

    font-size:12px;

    white-space:nowrap;

  }




  .input_button1{

    border:    1px solid #AABBAA;

    background-color:#fcfbd7;


    margin:2px 2px 0px 2px;
    padding:15px 10px 15px 10px;


    text-align:center;
    color: #405d03;

    font-size:12px;

    white-space:nowrap;

  }
  .input_button2{

    text-align: center;

    border:    3px outset #AABBAA;

    background-color:#e5e1ce;

    margin:0px;
    padding:11px 1px 11px 1px;


    font-size:12px;
    color: #000000;

    white-space:nowrap;

  }





  .input_checkbox1{

    border:    1px solid #AABBAA;

    text-align: center;

    margin:0px;
    padding:0px;

    white-space:nowrap;

  }

  .input_checkbox2{


    background-color:#DDDD88;

    border:    1px solid #AABBAA;

    text-align: center;

    margin:0px;
    padding:0px;

    white-space:nowrap;

  }







/*
 *
 * LIST
 *
 */



  .list_pagelink{

    text-align:left;

    margin:0px 0px 0px 0px;
    padding:2px 10px 2px 10px;

    font-size:12px;

    white-space:nowrap;

  }


  .list_title1{

    text-align: left;

    background-color:#AABBAA;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    font-size:12px;
    color: #FFFFFF;

    white-space:nowrap;


  }


  .list_title2{

    text-align: center;

    background-color:#AABBAA;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    font-size:12px;
    color: #FFFFFF;

    white-space:nowrap;

  }


  .list_title_check{

    width:90px;

    text-align: center;

    background-color:#AABBAA;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    font-size:12px;
    color: #FFFFFF;

    white-space:nowrap;

  }



  .list_field1{

    text-align: left;

    border:    1px solid #AABBAA;

    background-color:#FFFFFF;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    font-size:12px;
    color: #000000;

    white-space:nowrap;

  }

  .list_field2{

    text-align: center;

    border:    1px solid #AABBAA;

    background-color:#FFFFFF;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    font-size:12px;
    color: #000000;

    white-space:nowrap;

  }

  .list_field_sp1{
    text-align: center;

    border:    1px solid #AABBAA;

    background-color:#FFFFBB;

    margin:2px 2px 0px 2px;
    padding:5px 10px 5px 10px;


    font-size:12px;
    color: #000000;

    white-space:nowrap;


  }
  .list_field_button{

    width:110px;

    text-align: center;

    border:    1px solid #AABBAA;

    margin:2px 2px 0px 2px;
    padding:5px 0px 5px 0px;


    font-size:12px;
    color: #000000;

    white-space:nowrap;


  }





  .list_button1{

    text-align: center;

    border:    3px outset #AABBAA;

    background-color:#e5e1ce;

    margin:0px;
    padding:11px 1px 11px 1px;


    font-size:12px;
    color: #000000;

    white-space:nowrap;

  }


  .list_button2{

    width:100%;
    text-align: right;

    background-color:#FFFFFF;

    margin:0px;
    padding: 0px 5px 0px 5px;


    font-size:12px;
    color: #FFFFFF;

    white-space:nowrap;

  }



  .list_button3{

    text-align: left;

    background-color:#FFFFFF;

    margin:0px;
    padding: 0px 5px 0px 5px;


    font-size:12px;

    white-space:nowrap;

  }








  .error_field{

    text-align:left;

    border:    0px solid #638c0b;

    margin:5px 5px 5px 5px;
    padding:5px 10px 5px 10px;


    font-size:12px;

  }



