<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift-jis" />
<link href="./css/formStyle.css" rel="stylesheet" type="text/css" />
<title><?php echo $form_name; ?></title>
</head>
<body>
	<p class="text1" align="center">解除完了致しました</p>				
  <?php
    if($url!=""){
      echo '<p class="text1" align="center">';
      echo '<a href="'.$url.'">TOPへ戻る</a></p>';
    }
  ?>
</body>
</html>
